.container-header {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: var(---gray--800);

}

.container-header .ignite-title {

  font-size: 1.5rem;
  color: var(---white);
  line-height: 160%;

}
